{% extends "base.html" %}

{% block title %}Главная - FOL Converter{% endblock %}

{% block content %}
<h1>Конвертация предложения в FOL</h1>

<form method="POST">
    <div class="input-wrapper">
        <label for="sentence">Введите предложение (английское):</label>
        <input type="text" id="sentence" name="sentence"
            placeholder="Например: Every man loves an apple"
            value="{{ sentence or '' }}" required autocomplete="off">
    </div>
    <button type="submit">Преобразовать</button>
</form>

{% if result %}
<div class="results-wrapper">
    <h2>Результаты анализа:</h2>
    <div class="result-container">
        <h3>Паттерн:</h3>
        <p>{{ result.pattern }}</p>
    </div>
    
    <div class="result-container fol-result-container">
        <h3 class="fol-title">Формула логики первого порядка (FOL):</h3>
            <p class="fol">{{ result.fol|highlight_fol|safe }}</p>
    </div>

    <div class="result-container-tree">
        <h3>Дерево зависимостей:</h3>
        <div class="tree">
            {{ result.tree_html | safe }}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}