{% extends "base.html" %}

{% block title %}Главная | FOL Converter{% endblock %}

{% block content %}

<div class="welcome-box">
    <h1>Добро пожаловать в Проект FOL Converter!</h1>
    
    <p>Это веб-приложение, которое преобразует простые английские предложения в формулы логики предикатов (First-Order Logic, FOL).</p>
    
    <p>Используйте этот инструмент, чтобы быстро протестировать возможности конвертации и увидеть, как естественный язык переводится в формальную логическую структуру.</p>

    <a href="/test/base_converter" class="cta-button">
        Начать преобразование →
    </a>
</div>

{% endblock %}